*{margin:0px;padding:0px;}
.container{width:100%;height:640px;}
.demo{ width:900px; height:640px; margin:0px auto; text-align:center;}
.tit{  width:100%;height:40px;}
.content{ width:100%;height:600px;}
